# 이 문서의 목표 - 데이터 수집해서 데이터 셋 만드기 
## 데이터 수집하기 Data Crawling
    - ecos와 fred
## 데이터 병합 merge
    - 데이터 가공
    - 병합
    - csv파일로 저장

In [382]:
import os
current_directory = os.getcwd() # 현재 작업 디렉토리를 얻기
print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: c:\apps\miniproj

In [383]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import platform
if platform.system() == "Darwin":          # MAC인 경우
    plt.rc('font', family ="AppleGothic")
else:
    plt.rc('font',family='Malgun Gothic')

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)

#워닝 메시지 제거
import warnings
warnings.filterwarnings('ignore')

In [384]:
!pip install PublicDataReader
from PublicDataReader import Ecos
service_key = "2D9DY7C4S29XV51QBTPT"
ecos = Ecos(service_key)

Requirement already satisfied: PublicDataReader in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.0.25)
Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (4.12.2)
Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (4.9.3)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (1.25.2)
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (2.0.3)
Requirement already satisfied: requests in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (2.31.0)
Requirement already satisfied: xmltodict in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (0.13.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->PublicDataReader) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas->PublicDataReader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas->PublicDataReader) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas->PublicDataReader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->PublicDataReader) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# 데이터 가져오기

- 원/달러 말일 종가

In [385]:
KRWUSD = ecos.get_statistic_search(통계표코드='731Y006', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [386]:
KRWUSD = KRWUSD.loc[KRWUSD['통계항목코드1'] == '0000003'].loc[KRWUSD['통계항목코드2'] == '0000200'][['시점', '값']].rename(columns = {'값':'KRW/USD'})

In [387]:
KRWUSD

          시점 KRW/USD
1     200212  1186.2
2     200301  1170.1
4     200302  1193.7
6     200303  1254.6
9     200304  1215.3
...      ...     ...
3109  202305  1327.2
3132  202306  1317.7
3145  202307  1274.6
3163  202308  1321.8
3195  202309  1349.3

[250 rows x 2 columns]

- E1000 경제심리지수(원계열)

In [388]:
E1000 = ecos.get_statistic_search(통계표코드='513Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
E1000 = E1000.loc[E1000['통계항목코드1'] == 'E1000']
E1000 = E1000[['시점', '값']].rename(columns = {'값':'경제심리지수(원계열)'})

In [389]:
E1000

         시점 경제심리지수(원계열)
0    200301         101
2    200302       102.3
5    200303        92.3
6    200304          98
9    200305        96.1
..      ...         ...
488  202305        94.2
491  202306        95.7
492  202307        94.1
494  202308          94
497  202309        92.7

[249 rows x 2 columns]

- A001 뉴스심리지수

In [390]:
A001 = ecos.get_statistic_search(통계표코드='521Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
A001 = A001.loc[A001['통계항목코드1'] == 'A001']
A001 = A001[['시점', '값']].rename(columns = {'값':'뉴스심리지수'})

In [391]:
A001

         시점  뉴스심리지수
0    200501  106.39
1    200502  110.62
2    200503  103.98
3    200504  100.87
4    200505  101.94
..      ...     ...
221  202306  101.64
222  202307  102.08
223  202308   99.03
224  202309  100.78
225  202310   91.86

[226 rows x 2 columns]

- Droped FME 소비자심리지수

In [392]:
# FME = ecos.get_statistic_search(통계표코드='511Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
# FME = FME.loc[FME['통계항목코드1'] == 'FME'].loc[FME['통계항목코드2'] == '99988']
# FME = FME[['시점', '값']].rename(columns = {'값':'소비자심리지수'})

In [393]:
# FME

- Droped AM 수출실적

In [394]:
# X1 = ecos.get_statistic_search(통계표코드='512Y013', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [395]:
# AM = X1.loc[X1['통계항목코드1'] == 'X8000'].loc[X1['통계항목코드2'] == 'AM']
# AM = AM[['시점', '값']].rename(columns = {'값':'수출실적'})
# AM

- AN 원자재구입가격실적

In [396]:
AN = X1.loc[X1['통계항목코드1'] == 'X8000'].loc[X1['통계항목코드2'] == 'AN']
AN = AN[['시점', '값']].rename(columns = {'값':'원자재구입가격실적'})

In [397]:
AN

           시점 원자재구입가격실적
114    200301       119
146    200302       126
263    200303       137
435    200304       118
548    200305       110
...       ...       ...
29373  202305       104
29589  202306       110
29732  202307       103
29783  202308       103
29874  202309       113

[249 rows x 2 columns]

- Droped BM 수출전망

In [398]:
# X2 = ecos.get_statistic_search(통계표코드='512Y014', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [399]:
# BM = X2.loc[X2['통계항목코드1'] == 'X8000'].loc[X2['통계항목코드2'] == 'BM'][['시점', '값']].rename(columns = {'값':'수출전망'})

In [400]:
# BM

- Droped BN 원자재구입가격전망

In [401]:
# BN = X2.loc[X2['통계항목코드1'] == 'X8000'].loc[X2['통계항목코드2'] == 'BN'][['시점', '값']].rename(columns = {'값':'원자재구입가격전망'})

In [402]:
# BN

- KOM2 M2(말잔, 원계열)

In [403]:
KOM2 = ecos.get_statistic_search(통계표코드='101Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [404]:
KOM2 = KOM2.loc[KOM2['통계항목코드1'] == 'BBGA00'][['시점', '값']].rename(columns = {'값':'M2(말잔, 원계열)'})

In [405]:
KOM2

          시점 M2(말잔, 원계열)
14    200212    872075.6
30    200301    880756.1
45    200302    886044.7
50    200303      887799
70    200304    881195.8
...      ...         ...
3901  202303   3776930.1
3906  202304   3773397.2
3934  202305   3777762.1
3948  202306   3808194.2
3952  202307   3788168.8

[248 rows x 2 columns]

- M2NS 미국M2(말잔)

In [406]:
from PublicDataReader import Fred
# FRED API 키
fred_api_key = "84b09e605b74ea1c8d9d0c0de14920b2"
# 인스턴스 생성하기
fred = Fred(fred_api_key)

In [407]:
search_text = "consumer price index"
result = fred.get_data(api_name="series_search", search_text=search_text)
result.loc[result['id'] == "CPIAUCNS"]

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
1,CPIAUCNS,2023-10-10,2023-10-10,Consumer Price Index for All Urban Consumers: ...,1913-01-01,2023-08-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-09-13 07:42:02-05,72,94,Handbook of Methods (https://www.bls.gov/opub/...

In [408]:
# 시리즈 ID 값
series_id = "M2NS"
# 시리즈 데이터 조회
M2NS = fred.get_data(api_name="series_observations", series_id=series_id)
M2NS.tail()

    realtime_start realtime_end        date    value
771     2023-10-10   2023-10-10  2023-04-01  20865.9
772     2023-10-10   2023-10-10  2023-05-01  20749.1
773     2023-10-10   2023-10-10  2023-06-01  20802.6
774     2023-10-10   2023-10-10  2023-07-01  20786.2
775     2023-10-10   2023-10-10  2023-08-01  20760.3

In [409]:
M2NS = M2NS[['date', 'value']].rename(columns={'date':'시점', 'value':'미국M2'})

In [410]:
M2NS

             시점     미국M2
0    1959-01-01    289.8
1    1959-02-01    287.7
2    1959-03-01    287.9
3    1959-04-01    290.2
4    1959-05-01    290.2
..          ...      ...
771  2023-04-01  20865.9
772  2023-05-01  20749.1
773  2023-06-01  20802.6
774  2023-07-01  20786.2
775  2023-08-01  20760.3

[776 rows x 2 columns]

- USBIR 미국 기준금리

In [411]:
USBIR = ecos.get_statistic_search(통계표코드='902Y006', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [412]:
USBIR = USBIR.loc[USBIR['통계항목코드1'] == 'US'][['시점', '값']].rename(columns = {'값':'USBIR'})

- KOBIR 한국 기준금리

In [413]:
KOBIR = ecos.get_statistic_search(통계표코드='902Y006', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [414]:
KOBIR = KOBIR.loc[KOBIR['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'KOBIR'})

- KOTN 한국 10년물 국채수익률

In [415]:
# 한국 30년 국채수익률이 2013년부터 이므로 데이터가 적으니 10년물로 한다
# 10년물은 2000년부터 데이터가 있다.

In [416]:
KOTN = ecos.get_statistic_search(통계표코드='721Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [417]:
KOTN = KOTN.loc[KOTN['통계항목코드1'] == '5050000'][['시점', '값']].rename(columns = {'값':'KOTN'})

- USTN 미국 10년물 국채수익률

In [418]:
USTN = ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [419]:
USTN = USTN.loc[USTN['통계항목코드1'] == '1020403'][['시점', '값']].rename(columns = {'값':'USTN'})

In [420]:
USTN

          시점   USTN
981   200212  3.816
982   200301  3.962
983   200302   3.69
984   200303  3.796
985   200304  3.836
...      ...    ...
1226  202305  3.643
1227  202306  3.837
1228  202307  3.959
1229  202308  4.108
1230  202309  4.571

[250 rows x 2 columns]

- Droped KORIBOR 한국 RIBOR 금리

In [421]:
# KORIBOR=ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [422]:
# KORIBOR = KORIBOR.loc[KORIBOR['통계항목코드1'] == '1010205'][['시점', '값']].rename(columns = {'값':'KORIBOR'})

- Droped USROBOR 미국 RIBOR 금리

In [423]:
# USRIBOR = ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [424]:
# USRIBOR = USRIBOR.loc[USRIBOR['통계항목코드1'] == '1030401'][['시점', '값']].rename(columns = {'값':'USRIBOR'})

In [425]:
# USRIBOR

- REGEXTOTUSD 달러결제수출금액

In [426]:
REGEXTOTUSD = ecos.get_statistic_search(통계표코드='303Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [427]:
# REGEXTOTUSD = 
REGEXTOTUSD = REGEXTOTUSD.loc[REGEXTOTUSD['통계항목코드1'] == 'REGEXTOTUSD'].loc[REGEXTOTUSD['통계항목코드2'] == 'AMT'][['시점', '값']].rename(columns = {'값':'달러결제수출금액'})

In [428]:
REGEXTOTUSD

           시점 달러결제수출금액
85     200212  13006.3
229    200301  12274.1
271    200302  11373.2
430    200303  13201.6
558    200304  13417.3
...       ...      ...
34922  202208  48689.5
35008  202209  48955.1
35260  202210  44748.6
35323  202211  43660.8
35563  202212  45861.6

[241 rows x 2 columns]

- REGIMTOTUSD 달러결제수입금액

In [429]:
REGIMTOTUSD = ecos.get_statistic_search(통계표코드='303Y004', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [430]:
REGIMTOTUSD = REGIMTOTUSD.loc[REGIMTOTUSD['통계항목코드1'] == 'REGIMTOTUSD'].loc[REGIMTOTUSD['통계항목코드2'] == 'AMT'][['시점', '값']].rename(columns = {'값':'달러결제수입금액'})

In [431]:
REGIMTOTUSD

           시점 달러결제수입금액
55     200212  11063.3
202    200301  11545.6
338    200302  10549.5
430    200303  12351.8
611    200304  11325.3
...       ...      ...
34704  202208  55181.8
34804  202209  51457.7
35053  202210  49349.4
35230  202211    48129
35338  202212  47994.5

[241 rows x 2 columns]

- EXUSDR 달러결제수출비율

In [432]:
EXUSDR = ecos.get_statistic_search(통계표코드='303Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [433]:
EXUSDR = EXUSDR.loc[EXUSDR['통계항목코드1'] == 'REGEXTOTUSD'].loc[EXUSDR['통계항목코드2'] == 'RATIO'][['시점', '값']].rename(columns = {'값':'달러결제수출비율'})

In [434]:
EXUSDR

           시점 달러결제수출비율
86     200212     86.6
230    200301     85.7
272    200302     85.3
474    200303     85.8
559    200304     85.3
...       ...      ...
34923  202208       86
35009  202209     85.6
35261  202210     85.4
35324  202211     84.3
35564  202212     83.6

[241 rows x 2 columns]

- IMUSDR 달러결제수입비율

In [435]:
IMUSDR = ecos.get_statistic_search(통계표코드='303Y004', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [436]:
IMUSDR = IMUSDR.loc[IMUSDR['통계항목코드1'] == 'REGIMTOTUSD'].loc[IMUSDR['통계항목코드2'] == 'RATIO'][['시점', '값']].rename(columns = {'값':'달러결제수입비율'})

In [437]:
IMUSDR

           시점 달러결제수입비율
56     200212     76.6
203    200301     79.7
339    200302     76.1
431    200303     77.8
612    200304     76.7
...       ...      ...
34705  202208     83.6
34805  202209     84.3
35054  202210     83.4
35231  202211     81.8
35339  202212     80.5

[241 rows x 2 columns]

- KOPPI 한국생산자물가지수

In [438]:
KOPPI = ecos.get_statistic_search(통계표코드='902Y007', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [439]:
KOPPI = KOPPI.loc[KOPPI['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'한국생산자물가지수'})

- USPPI 미국생산자물가지수

In [440]:
USPPI = ecos.get_statistic_search(통계표코드='902Y007', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [441]:
USPPI = USPPI.loc[USPPI['통계항목코드1'] == 'US'][['시점', '값']].rename(columns = {'값':'미국생산자물가지수'})

- Droped KOCAB 한국경상수지

In [442]:
# KOCAB = ecos.get_statistic_search(통계표코드='902Y007', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [443]:
# KOCAB = KOCAB.loc[KOCAB['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'한국경상수지'})

- Droped USCAB 미국경상수지

In [444]:
# USCAB = ecos.get_statistic_search(통계표코드='902Y007', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [445]:
# USCAB = USCAB.loc[USCAB['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'미국경상수지'})

- KOFER 한국외환보유액

In [446]:
KOFER = ecos.get_statistic_search(통계표코드='902Y014', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [447]:
KOFER = KOFER.loc[KOFER['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'한국외환보유액'})

- USFER 미국외환보유액

In [448]:
USFER = ecos.get_statistic_search(통계표코드='902Y014', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [449]:
USFER = USFER.loc[USFER['통계항목코드1'] == 'US'][['시점', '값']].rename(columns = {'값':'미국외환보유액'})

- droped KOIPI 한국산업생산자지수

In [450]:
# KOIPI = ecos.get_statistic_search(통계표코드='902Y020', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [451]:
# KOIPI = KOIPI.loc[KOIPI['통계항목코드1'] == 'KOR'][['시점', '값']].rename(columns = {'값':'한국산업생산지수'})

- droped USIPI 미국산업생산지수

In [452]:
# USIPI = ecos.get_statistic_search(통계표코드='902Y020', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [453]:
# USIPI = USIPI.loc[USIPI['통계항목코드1'] == 'USA'][['시점', '값']].rename(columns = {'값':'미국산업생산지수'})

- KOUR 한국실업률

In [454]:
KOUR = ecos.get_statistic_search(통계표코드='902Y021', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [455]:
KOUR = KOUR.loc[KOUR['통계항목코드1'] == 'KOR'][['시점', '값']].rename(columns = {'값':'한국실업률'})

- USUR 미국실업률

In [456]:
USUR = ecos.get_statistic_search(통계표코드='902Y021', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [457]:
USUR = USUR.loc[USUR['통계항목코드1'] == 'USA'][['시점', '값']].rename(columns = {'값':'미국실업률'})

- KOSPI

In [458]:
KOSPI = ecos.get_statistic_search(통계표코드='902Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [459]:
KOSPI = KOSPI.loc[KOSPI['통계항목코드1'] == '3010101'][['시점', '값']].rename(columns = {'값':'KOSPI'})

- DJI Dow Jones

In [460]:
DJI = ecos.get_statistic_search(통계표코드='902Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [461]:
DJI = DJI.loc[DJI['통계항목코드1'] == '3020101'][['시점', '값']].rename(columns = {'값':'Dow Jones'})

# 데이터 병합

- 시점 일치

In [462]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [463]:
# 이번 달의 월말 데이터로 다음 달의 원/달러 환율을 예측할 것이므로 label인 원/달러 종가를 당긴다
KRWUSD['시점'] = pd.to_datetime(KRWUSD['시점'], format='%Y%m').apply(lambda X: X - relativedelta(months=1)).dt.strftime('%Y%m')

In [464]:
# 값은 해당 월에 대한 전망치를 담았으니 데이터를 전망을 한 시점인 한 달 전으로 변경
# BM['시점'] = pd.to_datetime(BM['시점'], format='%Y%m').apply(lambda X: X - relativedelta(months=1)).dt.strftime('%Y%m')

In [465]:
# 값은 해당 월에 대한 전망치를 담았으니 데이터를 전망을 한 시점인 한 달 전으로 변경
# BN['시점'] = pd.to_datetime(BN['시점'], format='%Y%m').apply(lambda X: X - relativedelta(months=1)).dt.strftime('%Y%m')

In [466]:
# 형식을 통일
M2NS['시점'] = pd.to_datetime(M2NS['시점'], infer_datetime_format=True).dt.strftime('%Y%m')

- 병합

In [467]:
df = E1000['시점']
df_list = [KRWUSD, E1000, A001, AN, KOM2, M2NS, USBIR, KOBIR, KOTN, USTN, REGEXTOTUSD, REGIMTOTUSD, EXUSDR, IMUSDR, KOPPI, USPPI, KOFER, USFER, KOUR, USUR, KOSPI, DJI]
for i in df_list:
    df = pd.merge(df, i)
df

,시점,KRW/USD,경제심리지수(원계열),뉴스심리지수,원자재구입가격실적,"M2(말잔, 원계열)",미국M2,USBIR,KOBIR,KOTN,...,달러결제수출비율,달러결제수입비율,한국생산자물가지수,미국생산자물가지수,한국외환보유액,미국외환보유액,한국실업률,미국실업률,KOSPI,Dow Jones
0,200501,1006,95.3,106.39,125,951377.5,6404.1,2.25,3.25,4.42,...,82.3,77.9,86.59,83.65,199699,85425,3.8,5.3,932.7,10489.94
1,200502,1015.5,108.1,110.62,121,970720,6405.7,2.5,3.25,4.88,...,82.9,77.9,86.77,84.04,202162,79780,3.7,5.4,1011.36,10766.23
2,200503,997.1,110.9,103.98,124,970629.1,6464.9,2.75,3.25,4.77,...,82,78.9,86.85,85.2,205447,79029,3.7,5.2,965.68,10503.76
3,200504,1007.7,110.4,100.87,126,987882.7,6508.3,2.75,3.25,4.69,...,82.5,78.6,87.09,85.93,206376,79483,3.7,5.2,911.3,10192.51
4,200505,1025.4,103.8,101.94,116,987197.7,6459.8,3,3.25,4.42,...,82.6,79.8,86.52,85.54,206100,78027,3.7,5.1,970.21,10467.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,202112,1205.5,104.5,111.48,129,3613687.6,21646.7,0.125,1,2.187,...,84.5,81.1,114.29,133.72,463118.36,251568.25,3.6,3.9,2977.65,36338.3
204,202201,1202.3,105.7,103.28,134,3629712.4,21628.5,0.125,1.25,2.492,...,83.8,84.5,115.49,129.7,461527,249552.86,3.3,4,2663.34,35131.86
205,202202,1212.1,105.8,103.65,135,3657117.3,21582.5,0.125,1.25,2.69,...,84.5,81.6,116.04,131.17,461766,250691.9,2.8,3.8,2699.18,33892.6
206,202203,1255.9,103.5,103.64,153,3652818.7,21855.7,0.375,1.25,2.784,...,85.1,81.8,117.81,133.86,457810,246958.19,2.8,3.6,2757.65,34678.35
207,202204,1237.2,105.8,104.68,147,3675692.3,21848.1,0.375,1.5,3.219,...,84.5,82.5,119.72,134.68,449298,240221.75,2.8,3.6,2695.05,32977.21

- to_csv

In [468]:
filename = 'monthly_data.csv'
df.to_csv(current_directory+'/'+filename)