# 이 문서의 목표 - 데이터 수집해서 데이터 셋 만드기 
## 데이터 수집하기 Data Crawling
    - ecos와 fred
## 데이터 병합 merge
    - 데이터 가공
    - 병합
    - csv파일로 저장

In [73]:
import os
current_directory = os.getcwd() # 현재 작업 디렉토리를 얻기
print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: c:\Users\jay_hook\myhub\miniproj

In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import platform
if platform.system() == "Darwin":          # MAC인 경우
    plt.rc('font', family ="AppleGothic")
else:
    plt.rc('font',family='Malgun Gothic')

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)

#워닝 메시지 제거
import warnings
warnings.filterwarnings('ignore')

In [75]:
!pip install PublicDataReader
from PublicDataReader import Ecos
service_key = "2D9DY7C4S29XV51QBTPT"
ecos = Ecos(service_key)

Requirement already satisfied: PublicDataReader in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (1.0.25)
Requirement already satisfied: beautifulsoup4 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (4.12.2)
Requirement already satisfied: lxml in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (4.9.3)
Requirement already satisfied: numpy in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (1.26.0)
Requirement already satisfied: pandas in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (2.1.1)
Requirement already satisfied: requests in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (2.31.0)
Requirement already satisfied: xmltodict in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from PublicDataReader) (0.13.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->PublicDataReader) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jay_hook\appdata\roaming\python\python311\site-packages (from pandas->PublicDataReader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from pandas->PublicDataReader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from pandas->PublicDataReader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from requests->PublicDataReader) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\jay_hook\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas->PublicDataReader) (1.16.0)

        상위통계표코드    통계표코드          통계명 시점 검색가능여부    출처
653  0000000283  513Y001  6.3. 경제심리지수  M      Y  한국은행

# 데이터 가져오기

- E2000 경제심리지수(순환변동치)

In [76]:
E2000 = ecos.get_statistic_search(통계표코드='513Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
E2000 = E2000.loc[E2000['통계항목코드1'] == 'E2000']
E2000 = E2000[['시점', '값']].rename(columns = {'값':'경제심리지수(순환변동치)'})

In [77]:
# pd.to_datetime(E2000['시점'], format='%Y%m').dt.strftime('%y-%b')
E2000

         시점 경제심리지수(순환변동치)
1    200301          95.7
3    200302          95.6
4    200303          95.6
7    200304          95.9
8    200305          96.5
..      ...           ...
489  202305          92.4
490  202306          92.7
493  202307          92.9
495  202308          93.2
496  202309          93.4

[249 rows x 2 columns]

- E1000 경제심리지수(원계열)

In [78]:
E1000 = ecos.get_statistic_search(통계표코드='513Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
E1000 = E1000.loc[E1000['통계항목코드1'] == 'E1000']
E1000 = E1000[['시점', '값']].rename(columns = {'값':'경제심리지수(원계열)'})

In [79]:
E1000

         시점 경제심리지수(원계열)
0    200301         101
2    200302       102.3
5    200303        92.3
6    200304          98
9    200305        96.1
..      ...         ...
488  202305        94.2
491  202306        95.7
492  202307        94.1
494  202308          94
497  202309        92.7

[249 rows x 2 columns]

- A001 뉴스심리지수

In [80]:
A001 = ecos.get_statistic_search(통계표코드='521Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
A001 = A001.loc[A001['통계항목코드1'] == 'A001']
A001 = A001[['시점', '값']].rename(columns = {'값':'뉴스심리지수'})

In [81]:
A001

         시점  뉴스심리지수
0    200501  106.39
1    200502  110.62
2    200503  103.98
3    200504  100.87
4    200505  101.94
..      ...     ...
221  202306  101.64
222  202307  102.08
223  202308   99.03
224  202309  100.78
225  202310   94.94

[226 rows x 2 columns]

- FME 소비자심리지수

In [82]:
FME = ecos.get_statistic_search(통계표코드='511Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")
FME = FME.loc[FME['통계항목코드1'] == 'FME'].loc[FME['통계항목코드2'] == '99988']
FME = FME[['시점', '값']].rename(columns = {'값':'소비자심리지수'})

In [83]:
FME

           시점 소비자심리지수
528    200807    74.6
1101   200808    92.4
1674   200809    91.2
2247   200810    78.9
2820   200811    74.1
...       ...     ...
97000  202305      98
97529  202306   100.7
98058  202307   103.2
98587  202308   103.1
99116  202309    99.7

[183 rows x 2 columns]

- AM 수출실적

In [84]:
X1 = ecos.get_statistic_search(통계표코드='512Y013', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [85]:
AM = X1.loc[X1['통계항목코드1'] == 'X8000'].loc[X1['통계항목코드2'] == 'AM']
AM = AM[['시점', '값']].rename(columns = {'값':'수출실적'})
AM

           시점 수출실적
113    200301   97
145    200302   94
262    200303   90
434    200304   96
547    200305   79
...       ...  ...
29488  202305   74
29531  202306   68
29725  202307   68
29834  202308   61
29867  202309   64

[249 rows x 2 columns]

- AN 원자재구입가격실적

In [86]:
AN = X1.loc[X1['통계항목코드1'] == 'X8000'].loc[X1['통계항목코드2'] == 'AN']
AN = AN[['시점', '값']].rename(columns = {'값':'원자재구입가격실적'})

In [87]:
AN

           시점 원자재구입가격실적
114    200301       119
146    200302       126
263    200303       137
435    200304       118
548    200305       110
...       ...       ...
29373  202305       104
29589  202306       110
29732  202307       103
29783  202308       103
29874  202309       113

[249 rows x 2 columns]

- BM 수출전망

In [88]:
X2 = ecos.get_statistic_search(통계표코드='512Y014', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [89]:
BM = X2.loc[X2['통계항목코드1'] == 'X8000'].loc[X2['통계항목코드2'] == 'BM'][['시점', '값']].rename(columns = {'값':'수출전망'})

In [90]:
BM

          시점 수출전망
6565  200302  105
6566  200303  104
6567  200304   93
6568  200305  104
6569  200306   87
...      ...  ...
6809  202306   74
6810  202307   66
6811  202308   66
6812  202309   64
6813  202310   61

[249 rows x 2 columns]

- BN 원자재구입가격전망

In [91]:
BN = X2.loc[X2['통계항목코드1'] == 'X8000'].loc[X2['통계항목코드2'] == 'BN'][['시점', '값']].rename(columns = {'값':'원자재구입가격전망'})

In [92]:
BN

           시점 원자재구입가격전망
22920  200302       119
22921  200303       126
22922  200304       129
22923  200305       106
22924  200306       106
...       ...       ...
23164  202306       101
23165  202307       104
23166  202308       103
23167  202309       105
23168  202310       113

[249 rows x 2 columns]

- KOM2 M2(말잔, 원계열)

In [93]:
KOM2 = ecos.get_statistic_search(통계표코드='101Y002', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [94]:
KOM2 = KOM2.loc[KOM2['통계항목코드1'] == 'BBGA00'][['시점', '값']].rename(columns = {'값':'M2(말잔, 원계열)'})

In [95]:
KOM2

          시점 M2(말잔, 원계열)
14    200212    872075.6
30    200301    880756.1
45    200302    886044.7
50    200303      887799
70    200304    881195.8
...      ...         ...
3901  202303   3776930.1
3906  202304   3773397.2
3934  202305   3777762.1
3948  202306   3808194.2
3952  202307   3788168.8

[248 rows x 2 columns]

- M2NS 미국M2(말잔)

In [96]:
from PublicDataReader import Fred
# FRED API 키
fred_api_key = "84b09e605b74ea1c8d9d0c0de14920b2"
# 인스턴스 생성하기
fred = Fred(fred_api_key)

In [97]:
search_text = "consumer price index"
result = fred.get_data(api_name="series_search", search_text=search_text)
result.loc[result['id'] == "CPIAUCNS"]

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
1,CPIAUCNS,2023-10-09,2023-10-09,Consumer Price Index for All Urban Consumers: ...,1913-01-01,2023-08-01,Monthly,M,Index 1982-1984=100,Index 1982-1984=100,Not Seasonally Adjusted,NSA,2023-09-13 07:42:02-05,71,94,Handbook of Methods (https://www.bls.gov/opub/...

In [98]:
# 시리즈 ID 값
series_id = "M2NS"
# 시리즈 데이터 조회
M2NS = fred.get_data(api_name="series_observations", series_id=series_id)
M2NS.tail()

    realtime_start realtime_end        date    value
771     2023-10-09   2023-10-09  2023-04-01  20865.9
772     2023-10-09   2023-10-09  2023-05-01  20749.1
773     2023-10-09   2023-10-09  2023-06-01  20802.6
774     2023-10-09   2023-10-09  2023-07-01  20786.2
775     2023-10-09   2023-10-09  2023-08-01  20760.3

In [99]:
M2NS = M2NS[['date', 'value']].rename(columns={'date':'시점', 'value':'미국M2'})

In [100]:
M2NS

             시점     미국M2
0    1959-01-01    289.8
1    1959-02-01    287.7
2    1959-03-01    287.9
3    1959-04-01    290.2
4    1959-05-01    290.2
..          ...      ...
771  2023-04-01  20865.9
772  2023-05-01  20749.1
773  2023-06-01  20802.6
774  2023-07-01  20786.2
775  2023-08-01  20760.3

[776 rows x 2 columns]

- USBIS 미국 기준금리

In [101]:
USBIS = ecos.get_statistic_search(통계표코드='902Y006', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [102]:
USBIS = USBIS.loc[USBIS['통계항목코드1'] == 'US'][['시점', '값']].rename(columns = {'값':'USBIS'})

- KOBIS 한국 기준금리

In [243]:
KOBIS = ecos.get_statistic_search(통계표코드='902Y006', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [246]:
KOBIS = KOBIS.loc[KOBIS['통계항목코드1'] == 'KR'][['시점', '값']].rename(columns = {'값':'KOBIS'})

- KOTN 한국 10년물 국채수익률

In [105]:
# 한국 30년 국채수익률이 2013년부터 이므로 데이터가 적으니 10년물로 한다
# 10년물은 2000년부터 데이터가 있다.

In [106]:
KOTN = ecos.get_statistic_search(통계표코드='721Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [107]:
KOTN = KOTN.loc[KOTN['통계항목코드1'] == '5050000'][['시점', '값']].rename(columns = {'값':'KOTN'})

- USTN 미국 10년물 국채수익률

In [250]:
USTN = ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [251]:
USTN = USTN.loc[USTN['통계항목코드1'] == '1020403'][['시점', '값']].rename(columns = {'값':'USTN'})

In [252]:
USTN

          시점   USTN
981   200212  3.816
982   200301  3.962
983   200302   3.69
984   200303  3.796
985   200304  3.836
...      ...    ...
1226  202305  3.643
1227  202306  3.837
1228  202307  3.959
1229  202308  4.108
1230  202309  4.571

[250 rows x 2 columns]

- KORIBOR 한국 RIBOR 금리

In [111]:
KORIBOR=ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [112]:
KORIBOR = KORIBOR.loc[KORIBOR['통계항목코드1'] == '1010205'][['시점', '값']].rename(columns = {'값':'KORIBOR'})

- USROBOR 미국 RIBOR 금리

In [113]:
USRIBOR = ecos.get_statistic_search(통계표코드='902Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [114]:
USRIBOR = USRIBOR.loc[USRIBOR['통계항목코드1'] == '1030401'][['시점', '값']].rename(columns = {'값':'USRIBOR'})

In [115]:
USRIBOR

          시점  USRIBOR
2231  200212     1.38
2232  200301     1.35
2233  200302     1.34
2234  200303  1.27875
2235  200304     1.31
...      ...      ...
2476  202305  5.51671
2477  202306  5.54543
2478  202307  5.62693
2479  202308  5.66283
2480  202309  5.65711

[250 rows x 2 columns]

- REGEXTOTUSD 달러결제수출금액

In [116]:
REGEXTOTUSD = ecos.get_statistic_search(통계표코드='303Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [117]:
# REGEXTOTUSD = 
REGEXTOTUSD = REGEXTOTUSD.loc[REGEXTOTUSD['통계항목코드1'] == 'REGEXTOTUSD'].loc[REGEXTOTUSD['통계항목코드2'] == 'AMT'][['시점', '값']].rename(columns = {'값':'달러결제수출금액'})

In [118]:
REGEXTOTUSD

           시점 달러결제수출금액
85     200212  13006.3
229    200301  12274.1
271    200302  11373.2
430    200303  13201.6
558    200304  13417.3
...       ...      ...
34922  202208  48689.5
35008  202209  48955.1
35260  202210  44748.6
35323  202211  43660.8
35563  202212  45861.6

[241 rows x 2 columns]

- REGIMTOTUSD 달러결제수입금액

In [119]:
REGIMTOTUSD = ecos.get_statistic_search(통계표코드='303Y004', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [120]:
REGIMTOTUSD = REGIMTOTUSD.loc[REGIMTOTUSD['통계항목코드1'] == 'REGIMTOTUSD'].loc[REGIMTOTUSD['통계항목코드2'] == 'AMT'][['시점', '값']].rename(columns = {'값':'달러결제수입금액'})

In [121]:
REGIMTOTUSD

           시점 달러결제수입금액
55     200212  11063.3
202    200301  11545.6
338    200302  10549.5
430    200303  12351.8
611    200304  11325.3
...       ...      ...
34704  202208  55181.8
34804  202209  51457.7
35053  202210  49349.4
35230  202211    48129
35338  202212  47994.5

[241 rows x 2 columns]

- EXUSDR 달러결제수출비율

In [122]:
EXUSDR = ecos.get_statistic_search(통계표코드='303Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [123]:
EXUSDR = EXUSDR.loc[EXUSDR['통계항목코드1'] == 'REGEXTOTUSD'].loc[EXUSDR['통계항목코드2'] == 'RATIO'][['시점', '값']].rename(columns = {'값':'달러결제수출비율'})

In [124]:
EXUSDR

           시점 달러결제수출비율
86     200212     86.6
230    200301     85.7
272    200302     85.3
474    200303     85.8
559    200304     85.3
...       ...      ...
34923  202208       86
35009  202209     85.6
35261  202210     85.4
35324  202211     84.3
35564  202212     83.6

[241 rows x 2 columns]

- IMUSDR 달러결제수입비율

In [125]:
IMUSDR = ecos.get_statistic_search(통계표코드='303Y004', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [126]:
IMUSDR = IMUSDR.loc[IMUSDR['통계항목코드1'] == 'REGIMTOTUSD'].loc[IMUSDR['통계항목코드2'] == 'RATIO'][['시점', '값']].rename(columns = {'값':'달러결제수입비율'})

In [127]:
IMUSDR

           시점 달러결제수입비율
56     200212     76.6
203    200301     79.7
339    200302     76.1
431    200303     77.8
612    200304     76.7
...       ...      ...
34705  202208     83.6
34805  202209     84.3
35054  202210     83.4
35231  202211     81.8
35339  202212     80.5

[241 rows x 2 columns]

# 데이터 병합

- 시점 일치

In [168]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [185]:
# 값은 해당 월에 대한 전망치를 담았으니 데이터를 전망을 한 시점인 한 달 전으로 변경
BM['시점'] = pd.to_datetime(BM['시점'], format='%Y%m').apply(lambda X: X - relativedelta(months=1)).dt.strftime('%Y%m')

In [189]:
# 값은 해당 월에 대한 전망치를 담았으니 데이터를 전망을 한 시점인 한 달 전으로 변경
BN['시점'] = pd.to_datetime(BN['시점'], format='%Y%m').apply(lambda X: X - relativedelta(months=1)).dt.strftime('%Y%m')

In [137]:
# 형식을 통일
M2NS['시점'] = pd.to_datetime(M2NS['시점'], infer_datetime_format=True).dt.strftime('%Y%m')

- 병합

In [260]:
df = E1000['시점']
df_list = [E1000, A001, FME, AN, AM, BN, BM, KOM2, M2NS, USBIS, KOBIS, KOTN, USTN, KORIBOR, USRIBOR, REGEXTOTUSD, REGIMTOTUSD, EXUSDR, IMUSDR]
for i in df_list:
    df = pd.merge(df, i)
df

,시점,경제심리지수(원계열),뉴스심리지수,소비자심리지수,원자재구입가격실적,수출실적,원자재구입가격전망,수출전망,"M2(말잔, 원계열)",미국M2,USBIS,KOBIS,KOTN,USTN,KORIBOR,USRIBOR,달러결제수출금액,달러결제수입금액,달러결제수출비율,달러결제수입비율
0,200807,93.6,79.55,74.6,159,121,154,116,1375993.6,7745.0,2,5,6.03,3.946,5.66,2.79125,35024.4,35797.2,85.5,83.3
1,200808,101.8,75.88,92.4,130,111,123,110,1394030.4,7742.7,2,5.25,5.91,3.812,5.79,2.81063,31685.4,33315.4,86.5,82.4
2,200809,97.8,70.51,91.2,128,103,123,106,1392431.9,7815.6,2,5.25,5.99,3.823,5.82,4.0525,32363.8,32790.9,86.5,83
3,200810,82.5,60.04,78.9,124,102,121,99,1411370.4,7922.1,1,4.25,5.53,3.964,5.87,3.02625,31572.6,29797.5,85.1,82.5
4,200811,71.2,65.53,74.1,109,83,107,74,1427905.3,8012.5,1,4,5.73,2.92,5.43,2.21688,24279.5,23863.6,84.2,82.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,202208,99.3,97.92,89,132,105,133,104,3737384.8,21552.7,2.375,2.5,3.322,3.193,2.87,3.09971,48689.5,55181.8,86,83.6
170,202209,98,86.14,91.6,127,98,128,93,3747840.6,21475.3,3.125,2.5,3.897,3.829,3.18,3.75471,48955.1,51457.7,85.6,84.3
171,202210,95.4,80.15,89,120,87,120,90,3769959.8,21388.4,3.125,3,4.267,4.048,3.89,4.46029,44748.6,49349.4,85.4,83.4
172,202211,91.2,88.53,86.7,121,93,121,89,3798048,21400.7,3.875,3.25,3.915,3.605,4.08,4.77857,43660.8,48129,84.3,81.8
173,202212,91.5,83.39,90.2,114,91,110,85,3758235.5,21432.6,4.375,3.25,3.541,3.875,4.04,4.76729,45861.6,47994.5,83.6,80.5

- to_csv

In [261]:
filename = 'monthly_data.csv'
df.to_csv(current_directory+'/'+filename)