In [2]:
import pandas as pd

In [3]:
path = "C:\\Users\\user\\Documents\\카카오워크 받은 파일\\환율신호등\\데이터\\한국&미국 기준금리 월별 2010~.csv"
# path에 \를 \\로 바꿔야함
df = pd.read_csv(path).transpose() # 행과 열을 바꿈

In [4]:
df

                                 0                          1
통계표      9.1.1.3. 국제 주요국 중앙은행 정책금리  9.1.1.3. 국제 주요국 중앙은행 정책금리
계정항목                            한국                         미국
단위                              %                          %
변환                             원자료                        원자료
2010/01                        2.0                      0.125
...                            ...                        ...
2023/04                        3.5                      4.875
2023/05                        3.5                      5.125
2023/06                        3.5                      5.125
2023/07                        3.5                      5.375
2023/08                        3.5                      5.375

[168 rows x 2 columns]

In [5]:
df.drop(['통계표', '계정항목', '단위', '변환'], axis=0,inplace=True)

In [6]:
df.columns = ['한국 기준금리', '미국 기준금리']

In [7]:
df = df.apply(pd.to_numeric) # 숫자열로 변경

In [8]:
df = df.reset_index()

In [9]:
df.rename(columns={'index':'date'}, inplace=True)

In [10]:
df['date'] = df['date'].apply(pd.to_datetime)

In [11]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     164 non-null    datetime64[ns]
 1   한국 기준금리  164 non-null    float64
 2   미국 기준금리  164 non-null    float64
 3   year     164 non-null    int32
 4   month    164 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(2)
memory usage: 5.3 KB

In [13]:
df

          date  한국 기준금리  미국 기준금리  year  month
0   2010-01-01      2.0    0.125  2010      1
1   2010-02-01      2.0    0.125  2010      2
2   2010-03-01      2.0    0.125  2010      3
3   2010-04-01      2.0    0.125  2010      4
4   2010-05-01      2.0    0.125  2010      5
..         ...      ...      ...   ...    ...
159 2023-04-01      3.5    4.875  2023      4
160 2023-05-01      3.5    5.125  2023      5
161 2023-06-01      3.5    5.125  2023      6
162 2023-07-01      3.5    5.375  2023      7
163 2023-08-01      3.5    5.375  2023      8

[164 rows x 5 columns]