In [8]:
import pandas as pd
IRS = pd.read_excel("C:\\Users\\user\\Documents\\카카오워크 받은 파일\\환율신호등\\데이터\\IRS 일별 20-09-25~3년.xls")

In [9]:
IRS.rename(columns={'전송일':'date', '1Y': 'IRS_1Y'}, inplace=True)

In [12]:
IRS = IRS[['date', 'IRS_1Y']]

In [16]:
IRS.sort_index(ascending=False, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_6040\2584109570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IRS.sort_index(ascending=False, inplace=True)

In [17]:
IRS

         date  IRS_1Y
742  23/09/22  3.9100
741  23/09/21  3.9575
740  23/09/20  3.9375
739  23/09/19  3.9325
738  23/09/18  3.9300
..        ...     ...
4    20/10/06  0.7250
3    20/10/05  0.7200
2    20/09/29  0.7175
1    20/09/28  0.7150
0    20/09/25  0.7200

[743 rows x 2 columns]