In [37]:
import os

# 현재 작업 디렉토리를 얻기
current_directory = os.getcwd()

print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: C:\Users\jay_hook\Desktop\헤커톤\cord&frame

In [38]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\jay_hook\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import pandas as pd

In [40]:
csi = pd.read_excel('../rawdata/소비자동향지수(CSI).xlsx', engine='openpyxl')

C:\Users\jay_hook\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [41]:
csi = csi.transpose().reset_index().drop([0, 3, 4, 'index'], axis=1)

In [42]:
csi.columns = csi.iloc[0]
csi = csi[1:]

In [43]:
csi.columns = ['날짜','소비자심리지수']

In [44]:
csi

          날짜 소비자심리지수
1    200912월   113.0
2    201001월   115.0
3    201002월   112.0
4    201003월   112.0
5    201004월   112.0
..       ...     ...
161  202304월    95.1
162  202305월    98.0
163  202306월   100.7
164  202307월   103.2
165  202308월   103.1

[165 rows x 2 columns]

In [45]:
csi['날짜'] = pd.to_datetime(csi['날짜'], format='%Y%m월')

In [46]:
csi

            날짜 소비자심리지수
1   2009-12-01   113.0
2   2010-01-01   115.0
3   2010-02-01   112.0
4   2010-03-01   112.0
5   2010-04-01   112.0
..         ...     ...
161 2023-04-01    95.1
162 2023-05-01    98.0
163 2023-06-01   100.7
164 2023-07-01   103.2
165 2023-08-01   103.1

[165 rows x 2 columns]

In [47]:
csi['날짜'] = csi['날짜'].dt.strftime('%Y/%m')

In [48]:
csi

          날짜 소비자심리지수
1    2009/12   113.0
2    2010/01   115.0
3    2010/02   112.0
4    2010/03   112.0
5    2010/04   112.0
..       ...     ...
161  2023/04    95.1
162  2023/05    98.0
163  2023/06   100.7
164  2023/07   103.2
165  2023/08   103.1

[165 rows x 2 columns]

In [49]:
csi["소비자심리지수"] = pd.to_numeric(csi["소비자심리지수"], errors='coerce')

In [53]:
csi['CSI변화율'] = csi["소비자심리지수"].pct_change() * 100

In [54]:
csi

          날짜  소비자심리지수    CSI변화율
1    2009/12    113.0       NaN
2    2010/01    115.0  1.769912
3    2010/02    112.0 -2.608696
4    2010/03    112.0  0.000000
5    2010/04    112.0  0.000000
..       ...      ...       ...
161  2023/04     95.1  3.369565
162  2023/05     98.0  3.049422
163  2023/06    100.7  2.755102
164  2023/07    103.2  2.482622
165  2023/08    103.1 -0.096899

[165 rows x 3 columns]

In [55]:
output_filename = '../cord&frame/CSI.csv'
# 특정 컬럼들을 선택한 후 CSV 파일로 저장
csi.to_csv(output_filename, index=False)