In [42]:
import os

# 현재 작업 디렉토리를 얻기
current_directory = os.getcwd()

print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: C:\Users\jay_hook\Desktop\헤커톤\cord&frame

In [43]:
import pandas as pd
bei = pd.read_csv('../rawdata/T10YIE.csv')

In [44]:
bei.columns = ['날짜', 'BEI지수']

In [45]:
bei['BEI지수'] = pd.to_numeric(bei['BEI지수'], errors='coerce')
print(bei.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3587 entries, 0 to 3586
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3587 non-null   object
 1   BEI지수   3441 non-null   float64
dtypes: float64(1), object(1)
memory usage: 56.2+ KB
None

In [46]:
bei = bei.interpolate()

C:\Users\jay_hook\AppData\Local\Temp\ipykernel_12688\2806050668.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  bei = bei.interpolate()

In [47]:
bei['BEI변화율'] = bei["BEI지수"].pct_change() * 100

In [48]:
bei

              날짜  BEI지수    BEI변화율
0     2009-12-31  2.370       NaN
1     2010-01-01  2.375  0.210970
2     2010-01-04  2.380  0.210526
3     2010-01-05  2.340 -1.680672
4     2010-01-06  2.370  1.282051
...          ...    ...       ...
3582  2023-09-25  2.370  0.000000
3583  2023-09-26  2.330 -1.687764
3584  2023-09-27  2.340  0.429185
3585  2023-09-28  2.390  2.136752
3586  2023-09-29  2.350 -1.673640

[3587 rows x 3 columns]

In [49]:
bei.isna().sum()

날짜        0
BEI지수     0
BEI변화율    1
dtype: int64

In [50]:
output_filename = '../cord&frame/10Y BEI.csv'
# 특정 컬럼들을 선택한 후 CSV 파일로 저장
bei.to_csv(output_filename, index=False)