In [27]:
import os

# 현재 작업 디렉토리를 얻기
current_directory = os.getcwd()

print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: C:\Users\jay_hook\Desktop\헤커톤

In [28]:
import pandas as pd

In [29]:
raw = pd.read_csv('./rawdata/raw_data_joo.csv', encoding='euc-kr')

In [30]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3318 entries, 0 to 3317
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3318 non-null   object
 1   달러원종가   3318 non-null   object
 2   달러원시가   3318 non-null   object
 3   CD91    3318 non-null   float64
 4   WTI가    3318 non-null   float64
 5   달러위안화   3318 non-null   float64
 6   달러엔     3318 non-null   float64
 7   달러인덱스   3318 non-null   object
 8   유로달러    3318 non-null   float64
 9   유로인덱스   3318 non-null   float64
 10  콜금리     3318 non-null   float64
 11  코스피종가   3317 non-null   float64
 12  BIR     3318 non-null   object
dtypes: float64(8), object(5)
memory usage: 337.1+ KB

In [38]:
cd91_sofr = pd.read_csv('./cord&frame/CD91-SOFR.csv')

In [32]:
bei_change_rate = pd.read_csv('./cord&frame/10Y BEI.csv').drop([0], axis=0).drop('BEI지수', axis=1)

In [33]:
bei_change_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3586 entries, 1 to 3586
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3586 non-null   object
 1   BEI변화율  3586 non-null   float64
dtypes: float64(1), object(1)
memory usage: 56.2+ KB

In [34]:
raw['날짜'] = pd.to_datetime(raw['날짜'])
bei_change_rate['날짜'] = pd.to_datetime(bei_change_rate['날짜'])

In [35]:
raw

,날짜,달러원종가,달러원시가,CD91,WTI가,달러위안화,달러엔,달러인덱스,유로달러,유로인덱스,콜금리,코스피종가,BIR
0,2010-01-04,"1,150.00","1,164.07",2.88,81.64,6.8285,92.47,92.3566,1.4413,106.23,1.980,1696.140015,2.38
1,2010-01-05,"1,140.20","1,151.00",2.88,81.47,6.8268,91.58,92.2236,1.4369,105.82,1.980,1690.619995,2.34
2,2010-01-06,"1,129.20","1,140.20",2.88,83.25,6.8278,92.38,92.0941,1.4413,106.11,1.960,1705.319946,2.37
3,2010-01-07,"1,138.20","1,129.20",2.88,82.69,6.8281,93.45,92.3684,1.4318,105.84,1.990,1683.449951,2.41
4,2010-01-08,"1,128.25","1,135.50",2.88,82.91,6.8276,92.68,92.1485,1.4413,106.18,2.000,1695.260010,2.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3313,2023-09-11,"1,325.49","1,336.34",3.72,87.42,7.2882,146.58,121.8185,1.0748,124.19,3.602,2556.879883,2.35
3314,2023-09-12,"1,326.15","1,326.05",3.73,88.94,7.2910,147.08,121.7721,1.0752,124.21,3.597,2536.580078,2.34
3315,2023-09-13,"1,326.59","1,326.72",3.75,88.80,7.2700,147.45,121.5454,1.0728,124.25,3.592,2534.699951,2.35
3316,2023-09-14,"1,329.52","1,328.20",3.76,90.67,7.2770,147.47,121.7192,1.0641,124.19,3.587,2572.889893,2.34
3317,2023-09-15,"1,328.46","1,330.02",3.78,91.15,7.2744,147.82,121.6815,1.0655,123.94,3.580,2601.280029,2.35

In [56]:
raw = pd.merge(raw, bei_change_rate, on='날짜', how='left')

In [44]:
cd91_sofr['날짜'] = pd.to_datetime(cd91_sofr['날짜'])

In [51]:
cd91_sofr = cd91_sofr.drop(['sofr', 'CD91'], axis=1)

In [58]:
raw = pd.merge(raw, cd91_sofr, on='날짜', how='left')

In [60]:
output_filename = './cord&frame/raw_data_joo.csv'
# 특정 컬럼들을 선택한 후 CSV 파일로 저장
raw.to_csv(output_filename, index=False)